body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff; 
    color: #000000;
    line-height: 1.6;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  .titulo-portafolio {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    opacity: 0;
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards 1s; 
}
.titulo-portafolio span {
    display: block;
}
  header {
    background-image: url('Images/header.webp');
    background-size: cover;
    background-position: center;
    padding: 6rem 0;
    position: relative;
    text-align: center;
  }
  
  header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #f4f4f4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: slideIn 1s ease-in-out forwards 0.7s;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards 1s;
  }
  
  header nav a {
    color: #fff; 
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  header nav a:hover {
    color: #720455;
    transform: scale(1.1);
  }
  
  .section {
    padding: 4rem 1rem;
    background-color: #fff; 
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: justify;
  }
  .container p {
    font-size: 1.2rem;
    color: #333; 
    line-height: 1.8;
    margin-bottom: 2rem;
  }
  .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #C599B6;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #b186a5;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


  h2 {
    font-size:2.5rem;
    color: #2d2d2d; 
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
  }
  h3 {
    font-size: 1.5rem;
    color: #2d2d2d; 
    margin-bottom: 1rem;
    letter-spacing: 1px;
    text-align: center;
  }
  #about p {
    max-width: 990px;
    margin: 0 auto;
    font-size: 2rem;
    color: #333;
    line-height: 1.8;
    text-align: justify;
  }
  
  .project-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .project-card{
    background-color: #F6F0F0; 
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align:center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 90%;
    margin: auto;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .project-card h3 {
    font-size: 1.5rem;
    color: #2E073F; 
    margin-bottom: 0.5rem;
  }
  
  .project-card p {
    font-size: 1.1rem;
    color: #333; 
    margin-bottom: 1rem;
    text-align:justify;
  }
  
  .project-card a {
    font-size: rem;
    color: #2d2d2d; 
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .conclusion {
    font-size: 1.5rem;
    color: #2d2d2d; 
    margin-top: 2rem;
    text-align: center;
  }
  .conclusion p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #333; 
    line-height: 1.8;
    text-align: justify;
  }

  .project-card a:hover {
    color: #2E073F;
  }
  .project-card img {
    width: 100%;
    max-width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  main {
    flex: 1;
  }